# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Docker
docker-compose.caddy.yml
docker-compose.nginx.yml
docker-compose.s3.yml
docker-compose.yml

supabase/
